#loadedpage {
    display: none;
}
#loadingdiv {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
}